# Data files
data/metadata/*
data/processed/*
data/raw/*
data/uploads/*
data/demo/*
data/mtsamples/*
data/aci-bench/*
data/iu-xray/*
data/nih-cxr/*

# Environment settings
*.env
.env.example

# PyCache files
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Model cache
models_cache/

# Alembic
alembic/versions/__pycache__/

# Cursor
.cursor/
.claude/

# Docs
docs/*
docs/.DS_Store
docs/

# Test files
tests/

# Scripts
scripts/
